/****************************************************

    Site Styles

****************************************************/

/****************************************************
	Fonts
****************************************************/
@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend.woff2") format("woff2-variations");
  font-weight: 0 1000;
  font-display: swap;
}

/****************************************************
    Tailwind
****************************************************/
@import "./tailwind.css";

/****************************************************
	Layout Styles
****************************************************/
html {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 120px;

  @media (width >= 48rem) {
    padding-top: 90px;
  }
}

section {
  width: 100%;
  max-width: 1440px;
  padding-inline: calc(var(--spacing) * 4);
  margin-inline: auto;
  margin-top: calc(var(--spacing) * 10);

  @media (width >= 48rem) {
    padding-inline: calc(var(--spacing) * 8);
    margin-top: calc(var(--spacing) * 15);
  }
}

/****************************************************
	Generic Styles
****************************************************/
.preload * {
  transition: none !important;
  animation-duration: 0s !important;
}

svg {
  pointer-events: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: auto !important;
  }
}

/****************************************************
	Remove Search Reset Button
****************************************************/
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
