/****************************************************

	Core Styles

****************************************************/

/****************************************************
	Google Fonts
****************************************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/****************************************************
	Layout Styles
****************************************************/
html {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 120px;
}

section {
  width: 100%;
  max-width: 1440px;
  padding-inline: calc(var(--spacing) * 4);
  margin-inline: auto;
  margin-top: calc(var(--spacing) * 20);

  @media (width >= 48rem) {
    padding-inline: calc(var(--spacing) * 8);
  }
}

/****************************************************
	Generic Styles
****************************************************/
.preload * {
  transition: none !important;
  animation-duration: 0s !important;
}

svg {
  pointer-events: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: auto !important;
  }
}
