/****************************************************

    Tailwind Variables and Plugins

****************************************************/
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-sans: "Lexend", arial, ui-sans-serif, system-ui, sans-serif;

  /* BlockPlanner colors */
  --color-bp-eucalypt: #6d7a70;
  --color-bp-sand: #f8f6e4;
  --color-bp-blueGum: #494f4a;

  --color-primary: #6d7a70;
  --color-primary-hover: #494f4a;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* LotCheck colors */
  /* --color-lot-green: #2d8b85; */

  /* --color-primary: #2d8b85; */
  /* --color-primary-hover: #1a3d42; */
}

@theme {
  --animate-draw: draw 1s ease-in-out alternate infinite;
  /* --animate-draw: draw 1s linear alternate infinite; */
  @keyframes draw {
    0%,
    10% {
      stroke-dashoffset: 300;
    }
    90%,
    100% {
      stroke-dashoffset: 0;
    }
  }

  --animate-attention: button-bounce 10s infinite;
  @keyframes button-bounce {
    0%,
    10%,
    20%,
    30%,
    100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    5%,
    15%,
    25% {
      transform: translateY(-8px);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  --animate-report: slide-up 0.4s ease-out;
  --animate-report-content: slide-up 0.3s ease-out;
  --animate-aside: slide-left 0.4s ease-out;
  --animate-drawer: slide-up 0.4s ease-out;

  @keyframes scale-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
