/****************************************************

    Tailwind Variables and Plugins

****************************************************/
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-sans: "Lexend", arial, ui-sans-serif, system-ui, sans-serif;

  /* BlockPlanner colors */
  --color-bp-eucalypt: #6d7a70;
  --color-bp-sand: #f8f6e4;
  --color-bp-blueGum: #494f4a;

  --color-primary: #6d7a70;
  --color-primary-hover: #494f4a;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* LotLogic colors */
  /* --color-lot-green: #2d8b85; */

  /* --color-primary: #2d8b85; */
  /* --color-primary-hover: #1a3d42; */
}

/* CSS Variables for fonts */
:root {
}

.dark {
}
